@import 'bootstrap/scss/bootstrap';

textarea.form-control {
    outline: none !important;  
    box-shadow: none !important; 
    transition: none !important; 
    resize: none !important;
}


.body{
    min-height: 90vh;
}

.post {
    max-width: 500px;
    margin: 15px auto;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
}

.post-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-image {
    width: 100%;
    max-height: 400px; /* Define uma altura fixa */
    object-fit: cover; /* Mantém a proporção e corta o excesso */

}



.card-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.post-icon {
    font-size: 22px;
    margin: 0;
    color: black; /* Preto e branco */
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: rgb(93, 136, 255); /* Preto e branco */
    }
}


.card-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid #ddd;
}

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.post-username {
    font-weight: bold;
    font-size: 16px;
}

.preview-img {
    margin: 10px;
    border-radius: 8px;
    max-width: 100px;
    object-fit: cover;
}